*.pyc
*~
build/
dist/
.cache/
.idea
.DS_Store
doc/.DS_Store
pandapower.egg-info/
doc/api/
doc/.build/*
doc/_build/*
tutorials/.ipynb_checkpoints
.cache
*__pycache__*
*__pycache__/*
.vs
.vscode
.vscode/
.vscode/*
*.pyproj
*.user
*.sln
*.bak
*.orig
*.bat
plotting/
plotting/*
resources/sa_std_types/*
sa_mv_types.py
pandapower/*
pandapower/plotting/plotly/mapbox_token.txt
pandapower/plotting/plotly/temp-plot.html